{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid p-5">
    <div class="text-center p-5 mb-5 text-white container-custom-color">
        <div class="row">
            <h1>Welcome to Planegram: Your Favorite Place for Plane Spotting!</h1>
        </div>
        <div class="row">
            <p>Are you passionate about aviation? Do you love capturing the beauty of airplanes as they take to the
                skies?
                Look no further! Planegram is your ultimate destination for all things aviation photography.
            </p>
        </div>
        <div class="row mt-5">
            <h2>Ready for Takeoff?</h2>
        </div>
        <div class="row">
            <p>Join Planegram today and embark on a visual journey through the skies. Whether you're an aviation
                aficionado,
                a curious traveler, or simply someone who appreciates the elegance of flight, Planegram invites you to
                share
                your passion and connect with fellow sky enthusiasts.</p>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-auto">
                <a class="btn btn-warning signlog-button" role="button" href="{% url 'account_signup' %}">Sign
                    Up</a>
            </div>
            <div class="col-md-auto">
                <a class="btn btn-outline-light signlog-button-sm" role="button"
                    href="{% url 'account_login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}