html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Navigation bar */
.navbar-custom-color,
.footer-custom-color,
.container-custom-color,
.btn-custom-color {
    background-color: #380788;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    color: #F9F6EE;
}

.navbar-nav .nav-link.active {
    position: relative;
    color: #F9F6EE;
}

.navbar-nav .nav-link {
    display: inline-block;
    position: relative;
}

.navbar-nav .nav-link:hover {
    color: yellow;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #F9F6EE;
    transition: width 0.3s;
}

.navbar-nav .nav-link.active::after {
    width: 100%;
}

.signlog-button,
.signlog-button-sm {
    margin-top: 10px;
}

.logbtn-sm {
    margin-bottom: 10px;
}

/* Logo */
.logo-large-screen {
    display: none;
}

.logo-small-screen {
    display: block;
    width: 50px;
    height: 50px;
}

/* Icons */
.like-icon {
    font-size: 1rem;
}

/* Cards */
.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card-height {
    height: 315px;
}

.img-centered {
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-5px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Footer */
.logo-footer {
    display: none;
}

.footer-custom-text {
    margin-left: 15px;
}

i {
    font-size: 24px;
    color: #F9F6EE;
}

.fa-x-twitter {
    margin-right: 15px;
}

/* Media query for large smartphones and larger screens (576px and up) */
@media screen and (min-width: 576px) {

    /* Logo */
    .logo-large-screen {
        display: block;
        height: 50px;
    }

    .logo-small-screen {
        display: none;
    }

    /* Footer */
    .logo-footer {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 15px;
    }

    .footer-custom-text {
        margin-left: 0;
    }
}

/* Media query for tablets and larger screens (992px and up) */
@media screen and (min-width: 992px) {

    /* Navbar */

    .signlog-button {
        margin: 0 10px;
    }

    .signlog-button-sm {
        margin: 0;
    }

    .navbar-nav {
        justify-content: end;
    }
}